<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PadavanasApp</title>
    <style>
        body{
            font-size: 24px;
            font-family: 'Overpass', sans-serif;
            }
        h1{
            position: center;

        }
    </style>
</head>
<body>
    <h1>Загрузка файла</h1>
    <form action="{{url_for('view')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <input type="submit" value="Upload">
    </form>
</body>
</html>